.project-img{
    position: relative;
    height: 500px;
    overflow: hidden;
    margin-bottom: 24px;
}
.project-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.project-img::before{
    content: "";
    background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
    opacity: .8;
    position: absolute;
    width: 100%;
    height: 0;
    transition: .4s ease-in-out;
}
.project-img:hover:before{
    height: 100%;
}
.project-text{
    position: absolute;
    text-align: center;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .4s ease-in-out;
    opacity: 0;
    width: 100%;
}

.project-img:hover .project-text{
    opacity: 1;
    top: 50%;
}
.project-text h4{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 1.1em;
}
.project-text span{
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.8px;
}