.skills{
    padding: 0 0 50px 0;
    position: relative;
}

.skill-box{
    background: #151515;
    border-radius: 30px;
    text-align: center;
    padding: 60px 50px;
    margin-top: -60px;
}
.skills .skill-box h2{
    font-size: 45px;
    font-weight: 700;
}
.skills .skill-box p{
    color: #b8b8b8;
    width: 60%;
    text-align: center;
    font-size: 18px;
    letter-spacing: .8px;
    line-height: 1.5;
    margin: 14px auto 75px auto;
}
.skill-slider{
    width: 80%;
    margin: 0 auto;
    position: relative;
}
.slick-prev, .slick-next{
  background: #c00b0b;
}
.CircularProgressbar .CircularProgressbar-path {
    stroke:  rgba(170, 54, 124, 0.5) !important;
  }
  .CircularProgressbar-trail {
    stroke: rgb(226, 226, 225) !important;
  }
  .CircularProgressbar-text {
    fill: rgb(230, 32, 220) !important;
  }
  .CircularProgressbar .CircularProgressbar-background {
    fill: rgb(235, 65, 14) !important;
  }